:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --base-font-size: 16px;
  --base-font-weight: 500;
}

/* #region general*/
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--white);
  color: var(--slate);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* #endregion */

/* #region navbar*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 156px;
  border-bottom: 1px solid var(--cornflower);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--iris);
}

.accent1 {
  color: var(--navy-blue);
}

.accent2 {
  color: var(--cloud);
}

header .logo {
  margin-right: 76px;
}

.navbar ul {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.navbar a {
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.5;
  text-decoration: none;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar ul li:first-child a {
  color: var(--ocean);
  position: relative;
}

.navbar ul li:first-child a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  left: 0;
  bottom: -28px;
}

address ul {
  display: flex;
  gap: 40px;
}

address a {
  font-weight: 400;
  font-size: var(--base-font-size);
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar a:hover,
.navbar a:active,
.navbar a:focus,
address a:hover {
  color: var(--ocean);
}
/* #endregion */

section {
  padding: 120px 156px;
}

section ul {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

/* #region hero-image*/
.hero-image {
  background: linear-gradient(var(--grey)), url("../Images/people-office.jpg"),
    no-repeat center;
  background-size: cover;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  color: var(--white);
  margin: 68px 0 48px 0;
}

.hero-image button {
  color: var(--white);
  font-family: inherit;
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-bottom: 68px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image button:hover,
.hero-image button:focus {
  background-color: var(--ocean);
}
/* #endregion */

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: var(--navy-blue);
  margin: 0 0 72px 0;
}

h3 {
  font-weight: var(--base-font-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0 0 8px 0;
}

p {
  font-size: var(--base-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

/* #region section-1*/
.section-1 ul li {
  width: 264px;
}

.section-1-box {
  height: 112px;
  background-color: var(--cloud);
  margin-bottom: 8px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  padding: 24px 100px;
}

.section-1-icon {
  width: 64px;
  height: 64px;
}
/* #endregion */

/* #region section-2 team-card*/
.section-2 {
  background-color: var(--cloud);
}

.section-2 img {
  width: 264px;
  display: block;
}

.section-2 ul li {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 16px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-media .social-media-item {
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .social-media-item:hover,
.social-media .social-media-item:focus,
.social-media .social-media-item:active {
  background-color: var(--ocean);
}

.social-media-icon {
  width: 16px;
  height: 16px;
}
/* #endregion */

/* #region section-3 portfolio-card*/
.section-3 ul li {
  width: 360px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-3 ul li:hover,
.section-3 ul li:focus,
.section-3 ul li:active {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-image {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  position: absolute;
  background-color: var(--iris);
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-overlay p {
  color: var(--cloud);
  font-weight: 400;
  font-size: var(--base-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-3 ul li:hover .portfolio-card-overlay,
.section-3 ul li:focus .portfolio-card-overlay,
.section-3 ul li:active .portfolio-card-overlay {
  transform: translateY(0);
}

.section-3 img {
  width: 360px;
  display: block;
}

.portfolio-card-content {
  border: 1px var(--cornflower);
  border-style: none solid solid;
  padding: 31.4px 16px;
}
/* #endregion */

/* #region footer*/
footer {
  background-color: var(--navy-blue);
  padding: 100px 156px;
  display: flex;
}

.footer-text {
  display: flex;
  gap: 16px;
  flex-direction: column;
  width: 264px;
  margin-right: 120px;
}

footer p {
  font-size: var(--base-font-size);
  line-height: 1.5;
  color: var(--cloud);
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 80px;
}

.footer-social .social-media {
  gap: 16px;
}

.footer-social .social-media-icon {
  width: 24px;
  height: 24px;
}

.footer-social .social-media-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .social-media-item:active,
.footer-social .social-media-item:focus,
.footer-social .social-media-item:hover {
  background-color: var(--green);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form input[type="email"] {
  border: 1px solid var(--white);
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  color: var(--white);
  outline: none;
}

.subscribe-form input[type="email"]::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.subscribe-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: var(--iris);
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form button svg {
  fill: var(--white);
}

.subscribe-form button:hover,
.subscribe-form button:focus,
.subscribe-form button:active {
  background-color: var(--ocean);
}

.subscribe-form p {
  color: var(--white);
  font-weight: var(--base-font-weight);
  letter-spacing: 0.04em;
  text-align: center;
}

.footer-form .subscribe-icon {
  width: 24px;
  height: 24px;
}
/* #endregion */

/* #region modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.is-open {
  display: flex;
}

.modal-content {
  border-radius: 4px;
  width: 408px;
  padding: 72px 24px 24px 24px;
  background-color: var(--dairy);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-icon {
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: var(--navy-blue);
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover,
.close-icon:focus,
.close-icon:active {
  background-color: var(--ocean);
  fill: var(--white);
  border: none;
}

.modal-content p {
  font-weight: var(--base-font-weight);
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.contact-form-input-area {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 11px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-icon {
  width: 18px;
  height: 12px;
  margin-right: 4px;
  fill: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-label input {
  outline: none;
  border: none;
  width: 100%;
}

.contact-form label:focus-within .contact-form-input-area {
  border-color: var(--iris);
}

.contact-form label:focus-within .contact-form-icon {
  fill: var(--iris);
}

.contact-form label:nth-child(4) {
  margin-bottom: 16px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  outline: none;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form textarea:focus-within {
  border-color: var(--ocean);
}

.contact-form textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.contact-form label:nth-child(5) {
  flex-direction: row;
  align-items: center;
  gap: 0;
  margin-bottom: 24px;
  position: relative;
  padding-left: 24px;
}

.contact-form label:nth-child(5) a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

/*hide original checkbox */
.contact-form input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark-icon {
  position: absolute;
  fill: transparent;
  width: 16px;
  height: 16px;
  padding: 4px 3px;
  top: 0;
  left: 0;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form input[type="checkbox"]:checked + .checkmark-icon {
  background-color: var(--ocean);
  border: none;
  fill: #f4f4fd;
}

.contact-form-button {
  background-color: var(--iris);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  padding: 0;
  margin: 0 96px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: var(--base-font-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
}

.contact-form-button:hover,
.contact-form-button:focus,
.contact-form-button:active {
  background-color: var(--ocean);
}
/* #endregion */
